/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Header Section */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    text-align: start;
  }
  
  nav ul li {
    margin-left: 10px;
    margin-right: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Sections */
  section {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  /* Todo Section */
  .todo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .todo-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .todo-item h4 {
    margin-bottom: 5px;
  }
  
  .todo-item p {
    margin-bottom: 5px;
  }
  
  .day-todo {
    margin-bottom: 20px;
  }
  
  .day-todo h3 {
    margin-bottom: 10px;
  }
  
  /* Colors */
  header {
    background-color: #3f51b5;
    color: #fff;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  section {
    background-color: #fff;
    color: #333;
  }
  
  .todo-item {
    background-color: #f1f1f1;
  }
  
  .day-todo:nth-child(odd) .todo-item {
    background-color: #f9f9f9;
  }
  
  .day-todo:nth-child(even) .todo-item {
    background-color: #e9e9e9;
  }

  .method-div{
    display: flex;
  }
  .method {
    background-color: #626fb9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .method h2 {
    color: #ffffff;
    font-size: 20px;
  }

  .method p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
  }